@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.quizSection {
    background-color: white; /* Set the background color to white */
    display: flex; /* Use flexbox to vertically list each question section */
    flex-direction: column; /* Set the flex direction to column */
  }
  
 .questionSection {
    padding: 10px; /* Add padding to the question section */
    margin: 10px; /* Add margin to the question section */
  }
   /* 
  .question {
  }
  
  input[type="text"] {
  }
  
  label {
  }
  
  input[type="radio"] {
  }
   */