.page {
    height: 100vh;
    background-image: url('/helpbackground.jpg'); 
    background-size: cover; 
    background-position: center; 
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .pageTitle {
    margin-bottom: 50px; 
  }

  
  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .boxContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
  
  }
  
  .box {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #f5f9fcc5;
    border-radius: 40px;
  }
  
  .boxContent {
    position: relative;
    top: 20%;
    left: 52%;
    transform: translate(-50%, 0); 
    color: rgb(18, 18, 18);
    text-align: center;
  }
  
  .box2 {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #f8e5f4cc;
    border-radius: 40px;
  }
  
  .box3 {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #f5f9fce2;
    border-radius: 40px;
  }
  
  .box4 {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #f8e5f4da;
    border-radius: 40px;
  }
  
  
  .heading {
    margin-bottom: 10px;

  }
  
  .paragraph {
    font-size: 15px; 
    width: 220px;
    margin: 0;
  }