@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
.page {
  height: 97vh;
  margin: 0px;
  background-color: #625E60;
}
*/
.page {
  height: 97vh;
  margin: 0;
  background-image: url('/IMG_1034.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 3100px;
}

.content {
  background-color: inherit;
}

.mainTitleDiv {
  text-align: center;
  margin-top: 0px;
  padding-top: 10%;
  margin-bottom: 10px;

}

.mainTitle {
  justify-content: center;
  font-size: 56px;
  color: #EFBBD5;
  font-family: 'Kaushan Script', cursive;
}

.inputDiv {
  display: flex;
  justify-content: center;
  margin: 30px 20% 30px 20%;
  
}

.inputDiv > input {
  width: 700px;
  margin-left:0px;
  margin-right:0px;
  border: none;
  padding: 13px;
  border-radius: 15px;


}

.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.buttonsDiv > button {
  padding: 10px;
  border: none;
  color: rgb(0, 0, 0);

  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.buttonsDiv > button:hover {
  box-shadow: 0px 0px 25px 0px rgba(239, 187, 213, 0.6);
  cursor: pointer;
}

.buttonLink {
  padding: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.buttonLink:hover {
  box-shadow: 0px 0px 25px 0px rgba(239, 187, 213, 0.6);
  cursor: pointer;
}

.buttonsDiv > button:hover {
  box-shadow: 0px 0px 25px 0px rgba(239, 187, 213, 0.6);
  cursor: pointer;
}

.error {
  color: rgb(255, 11, 11);
  margin-top: 5px;
  text-align: center;
  opacity: 0.8;
  transition: opacity 2s ease-out;
}

.error.fadeOut {
  opacity: 0;
}

.flexContainer {
  position: flex;
}

.dropdown {
  appearance: none;
  background-color: rgba(98, 93, 93, 0.795);
  border: 1px solid rgb(90, 85, 85);
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  right: 180px;
  top:10;
}

.dropdown option {
  font-size: 16px;
}

.TopicBox {
  left:100px;
  width: 1200px; 
  height: 200px;
  background-color: rgba(39, 36, 36, 0.885);
  border: 1px solid rgba(39, 36, 36, 0.885); 
  border-radius: 10px; 
  text-align: center;
  padding: 20px;
  margin-left: 130px;
  margin-top:250px

}

.OutputBox {
 
  left:1000px;
  width: 1200px; 
  height: 1000px;
  background-color: rgba(39, 36, 36, 0.885);
  border: 1px solid rgba(39, 36, 36, 0.885); 
  border-radius: 10px; 
  text-align: center;
  padding: 20px;
  margin-left: 130px;
  margin-top:50px
}
