@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



.pageContainer {
    height: 97vh;
    margin: 0;
    /* background-image: url('/BlacknWhite.jpg');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
  }

  .mainContent {
   }

   .teamTitle {
    text-align: center;
    margin-top: 70px;
   }

   .teamTitle h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
   }

   .slides {
    width: 800px;
    margin: auto;
    margin-top: 115px;
    box-shadow: 15px 20px 5px rgba(0, 0, 0, 0.1);
   }

   @media (max-width: 900px) {
    .slides {
      width: 600px;
      height: 80%;
      box-shadow: 5px 15 7px rgba(0, 0, 0, 0.05);
    }
   }

   @media (min-width: 1950px) {
    .slides {
      width: 900px;
      height: 100%;
      margin-top: 150px;
      box-shadow: 5px 15 7px rgba(0, 0, 0, 0.05);
    }
   }




